@import '../../common/fonts.scss';

.wrapper_game {
  display: flex;
  flex-direction: column;
  height: 88vh;
  margin: 0 auto;
  flex-wrap: wrap;
}
.game {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 100%;
}
.game_field {
  flex: 2;
  padding: 0 6.3rem;
  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 5px 10px;
    margin-top: 20px;
    &-text {
      text-align: center;
      font-family: Ruda;
      font-weight: 700;
      font-size: 24px;
      line-height: 125%;
      word-break: break-all;
      max-height: 1.2em;
      overflow: hidden;
    }
  }
  &__scram {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &_title {
      font-family: Ruda;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: 15px;
      letter-spacing: 0em;
      text-align: left;
      color: #00000099;
    }
    &_main {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }
  &__playArea {
    margin-top: 2rem;

    padding-top: 6.3rem;
    display: flex;
    flex-direction: row;

    &_issues {
      flex: 1;
      display: flex;
      justify-content: center;
      flex-direction: column;

      &-title {
        font-family: Ruda;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: center;
      }
      &-list>.custom_issue{
        height: 78px;
      }
    }
    &_timer {

      flex: 1;
      display: flex;
      flex-direction: column;
      &>.container_timer{
        margin-top: 2rem;

      }
      & > .btn_primary {
        margin-top: 1rem;

        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    &_nextIssue {
      flex: 1;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
.score_field {
  flex: 1;
  background-color: aqua;
}

.statistics {
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  &_title {
    padding: 3rem 0;
    font-family: Ruda;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
  }
  &_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    &-card {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    &-percent {
      display: flex;
      justify-content: center;
      
      &_item{
        padding: 1.5rem;
        display: flex;
        @include font-Ruda-24;
      }
    }
  }
}

.score {
  flex: 1;
  border-left: 1px solid rgba(0, 0, 0, 0.5);
  padding: 2rem 1.5rem 2rem 3.6rem;
  &_titles {
    display: flex;
    justify-content: space-around;
    padding-right: 3rem;
    align-items: center;
  }
  &_players {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    &__points {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;
      margin: 10px;
      border-radius: 5px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      box-sizing: border-box;
      font-family: Ruda;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 30px;
      letter-spacing: 0em;
      text-align: center;
    }
    &__member {
    }
  }
}
