@mixin font-template {
  font-family: Ruda;
  font-style: normal;
  font-weight: bold;
}

@mixin icons {
  background-repeat: no-repeat;
  background-size: cover;

  top: 18%;

  width: 50px;
  height: 50px;

  align-self: center;
}

.custom-card {
  @include font-template();
  position: relative;

  font-size: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border: 1px solid black;

  border-radius: 12%;

  width: 100px;
  height: 160px;
  margin: 10px;
}
.upper-value {
  @include font-template();
  align-self: flex-start;
  padding: 7px;
}

.lower-value {
  @include font-template();
  align-self: flex-end;
  transform: rotate(180deg);
  padding: 7px;
}

.center-value {
  @include font-template();
  text-transform: uppercase;
  align-self: center;
  font-size: 3rem;
}

.selected-card {
  background-color: rgba($color: #60dabf, $alpha: 0.46);
}

.check-mark {
  @include icons();
  position: absolute;
  top: 32%;
  background-image: url('../../assets/icons/checkmark.png');
}

.coffee {
  @include icons();
  background-image: url('../../assets/icons/coffee.png');
}

.add-card {
  @include icons();
  background-image: url('../../assets/icons/add-card.png');
}
