@import '../../common/fonts.scss';

@mixin game-settings-font {
  @include font-Ruda-24;
}

.game-settings-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 100px;
}

.game-settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  flex-wrap: wrap;
  margin-top: 20px;
}

.setting {
  display: flex;
  justify-content: space-between;
  align-self: flex-start;
  width: 100%;
  padding: 15px;
  justify-self: flex-end;
}

.timer-container {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 15rem;
}

.timer-separator {
  @include game-settings-font();
  justify-self: center;
  align-self: center;
}

.timer-numbers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.timer-inputs {
  height: 5rem;
  width: 7.5rem;
  text-align: center;
  box-sizing: border-box;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.18);

  border-width: 0px;
  border: none;

  @include game-settings-font();
}

.little-titles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-text,
span {
  @include game-settings-font();
  text-align: left;
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
}
