.session-title {
  min-height: 100px;
  &__buttons {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.headder {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 5px 10px;
  margin-top: 10px;
  &__text,
  &__input {
    text-align: center;
    font-family: Ruda;
    font-weight: 700;
    font-size: 24px;
    line-height: 125%;
    word-break: break-all;
    max-height: 1.2em;
    overflow: hidden;
  }
  &__input {
    border: none;
    border-bottom: 3px solid black;
    width: max-content;
    font-weight: 500;
    font-size: 20px;
    line-height: 125%;
    width: 80%;
  }
  &__button {
    height: 24px;
    width: 24px;
    margin-left: 20px;
    // background-image: url('../../assets/icons/edit-card-icon.png');
    background-color: white;
    background-size: contain;
    border: none;
    cursor: pointer;
    &_ok {
      height: 30px;
      width: 50px;
      background-image: none;
      font-family: Ruda;
      font-weight: 700;
      font-size: 22px;
      line-height: 115%;
      color: yellow;
      border: 3px solid black;
      border-radius: 15px;
    }
  }
  &__icon {
    height: 24px;
    width: 24px;
    object-fit: fill;
  }
  &__warning {
    position: absolute;
    top: 5px;
    color: red;
    font-size: 20px;
  }
}
.scram-master {
  margin-top: 20px;
  &__text {
    font-family: Ruda;
    font-weight: 700;
    font-size: 12px;
    line-height: 125%;
  }
}
.link-lobby {
  margin-top: 5px;
  &__text {
    font-family: Roboto;
    font-size: 24px;
    line-height: 125%;
    font-style: italic;
  }
  &__input {
    display: flex;
    align-items: center;
  }
}
