.drop-down {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin: 10px;
  width: 100%;
}

.selected-option {
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  width: 200px;

  padding-left: 10px;
  padding-top: 8px;
}

.options {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 100%;
}

.option {
  box-sizing: border-box;
  height: 3rem;
  width: 200px;
  border-top: 1px solid black;

  padding-left: 10px;
  padding-top: 8px;

  justify-content: center;
  align-items: center;
}

.hidden {
  visibility: hidden;
}

.rotate {
  transform: rotate(180deg);
}

.triangle {
  padding: 10px;
}
