:root {
  font-size: 10px;
}

.inputElem {
  border: 1px solid #2b3a67;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  align-items: center;
  width: 32.5rem;
  height: 47px;
  background: #ffffff;
  box-sizing: border-box;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 0px 0px 0px 10px;
}
label {
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
