:root {
  font-size: 6px;
}
body {
  margin: 0;
}

a{
  text-decoration: none;
  color: #2b3a67;
}
.app {
  position: relative;
  min-height: 100vh;
}
.inputElem {
  border: 1px solid #2b3a67;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.8rem;
  align-items: center;
  width: 32.5rem;
  height: 4.7rem;
  padding-left: 10px;
  background: #ffffff;
  box-sizing: border-box;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 0px 0px 0px 10px;
}
label {
  font-family: Roboto;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.8rem;
  letter-spacing: 0em;
  text-align: left;
}
.alert {
  display: block;
  position: fixed;
  text-align: center;
  color: red;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.2);
  span {
    margin: 0 auto;
    margin-top: 30px;
  }
  &__btn {
    position: relative;
    top: 0;
    left: 20px;
    height: 30px;
    width: 30px;
    background-color: transparent;
    background-image: url('./assets/icons/close-card-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    cursor: pointer;
    border-color: red;
    border-radius: 50%;
  }
}

.container{
  display: flex;
  justify-content: center;
  min-height: 100vh;
}