
.custom-issue {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40rem;
  height: 75px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  margin: 10px;
  color: #2b3a67;
  cursor: pointer;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.content-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.selected-issue-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
}

.main-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 125%;
  overflow: hidden;
  max-width: 170px;
  max-height: 28px;
}

.priority-text {
  text-transform: uppercase;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 8px;
  line-height: 12px;
  display: flex;
  align-items: center;
}

.current-card {
  background-color: rgba($color: #60dabf54, $alpha: 0.33);
}

.create-button,
.close-button,
.edit-button,
.delete-button {
  width: 24px;
  height: 23px;
  object-fit: contain;
  cursor: pointer;
}


.edit-button,
.delete-button,
.create-button,
.close-button {
  padding: 10px;
}
.create-button:hover{
transform: scale(1.3);
}